
:root{
  --most-dark-color: #00334e;
  --less-dark-color: #145374;
  --lightest-color: #f6f5f5;
  --highlight-color: #ee6f57;
}


.main-register-container{
  align-items: center;
  background-color: var(--less-dark-color);
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  margin: 100px 200px;
  justify-content: center;
  border-radius: 10px;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container input{
  width: 250px;
  font-size: 18px;
  margin: 10px auto;
  border-radius: 7px;
  border: none;
  outline: none;
  padding: 7px;
  font-size: 16px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.26);
}

.notifications{
  color: var(--lightest-color);
  font-size: 16;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  align-items: center;
}

.checkbox{
margin-left: 10px;
}

.register-button{
  -webkit-appearance:none;
  appearance:none;
  background-color: var(--highlight-color);
  border:none;
  border-radius:5px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-weight:600;
  margin: 30px 10px;
  padding:10px;
  width: 30%;
  box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
  outline: black;
}

.register-button:hover{
  box-shadow: none
}
